<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit exist user</title>
</head>
<body>
<a th:href="@{/}">    На главную </a>
<form th:method="POST" th:action="@{/save_edit_user(id=${user.getId()})}" th:object="${user}">
    <p>
        <label for="firstName">Firstname</label>
        <input th:type="text" th:field="*{firstName}" id="firstName" required>
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </p>
    <p>
        <label for="lastName">Lastname</label>
        <input th:type="text" th:field="*{lastName}" id="lastName" required>
        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </p>
    <input type="submit" value="Update user data"/>
</form>
</body>
</html>